.top{
    background-color: black;
    color:white;
    height:1.5rem;
    display: flex;
    justify-content: flex-end;
    padding: 0.3rem 2rem;
    column-gap: 2rem;
  }
  
  .top a {
      color:white;
  }
  
  .navigation-bar {
      flex-direction: column;
      background-color: white;
      row-gap: 0.3rem;
  }
  
  .sign-in :hover, .create-account :hover {
      text-decoration: underline;
  }
  
  .wishlist :hover {
      color:red;
  }
  
  .between{
      display: flex;
    justify-content: space-around;
      column-gap: 10rem;
      align-items: center;
      padding-right: 0.5rem;
  
  }
  
  .dropdown {
      display: flex;
      column-gap:3rem;
      padding:0.5rem;
      border:solid 1px gainsboro;
      background-color: white;
  }
  
  .dropdown-one,.dropdown-two, .dropdown-three, .dropdown-four, .dropdown-five, .dropdown-six, .dropdown-seven {
      position: relative;
      /*display: flex;*/
  }
  
   input {
      width:30rem;
      padding:0.5rem;
  }
  
   button {
       border: none;
       background-color: white;
       font-size: 1rem;
   }
  
  .logo {
      height:5rem;
      width:4rem;
  }
  
  .logo-container {
      display: flex;
      margin-left:1rem;
      font-weight: bolder;
      font-size: 1.5rem;
      text-decoration: line-through white;
  }
  
  .dropdown-content-one,.dropdown-content-two, .dropdown-content-three, .dropdown-content-four, .dropdown-content-five,     .dropdown-content-six, .dropdown-content-seven {
      display: none;
      position: absolute;
      padding-top: 1rem;
      background-color: white;
      box-shadow: 5px 5px 5px  gainsboro, -5px -5px 5px  gainsboro;
  }
  
  .dropdown-one:hover .dropdown-content-one   {
      display: block;
  }
  
  .dropdown-two:hover .dropdown-content-two{
      display: block;
  }
  
  .dropdown-three:hover .dropdown-content-three{
      display: block;
  }
  
  .dropdown-four:hover .dropdown-content-four{
      display: block;
  }
  
  .dropdown-five:hover .dropdown-content-five{
      display: block;
  }
  
  .dropdown-six:hover .dropdown-content-six{
      display: block;
  }
  
  .dropdown-seven:hover .dropdown-content-seven{
      display: block;
  }
  
  .dropdown-content-one a, .dropdown-content-two a,.dropdown-content-three a,.dropdown-content-four a,.dropdown-content-five a,.dropdown-content-six a,.dropdown-content-seven a  {
      color: black;
      padding-top: 1rem;
     /* text-decoration: none;*/
     display:block;
  }
  
  .shopping-cart {
      height:3rem;
      width:4rem;
  }
    
  .dot {
      height:1.5rem;
      width:1.5rem;
      border-radius: 50%;
      transform: translate(-550%,190%);
      background-color: orangered;
      color: white;
  }
  
  button[type="submit"] {
      transform: translate(-120%,0%);
      cursor:pointer;
  }

  .sidebar {
   height:28rem;
   width:12rem;
   margin-top: 11rem;
   display: flex;
   flex-direction:column;
   row-gap: 3rem;
   background-color:white;
   border-right:solid 1px gainsboro;
   border-radius: 0%;
   z-index: -1;
  }

.rating-container {
    display:flex;
    flex-direction: column;
    line-height: normal;
    color:black;
    align-items: center;
    margin-top: 2rem;
}

.rating-container a {
    color:orange;
}

.list-horizontal {
    margin-top: 1rem;
    font-size: small;
}

.price-input-container{
    display:flex;
    column-gap: 1rem;
}

.price-dropdown {
    width:4rem;
    height:1.5rem;
}

.input-container{
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top:solid 1px gainsboro ;
}

.range{
    transform: translate(0%,-20%);
}

.main {
    margin:10rem 8rem;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 3rem;
    justify-content: center;

}

.img-card-container{
    height:22rem;
    width:16rem;
    font-size:medium;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0.5rem;
}

.img-container {
    height:14rem;
    width:14rem;
}

.img-card-container:hover {
    box-shadow: 5px 5px 5px  gainsboro, -5px -5px 5px  gainsboro;
}

.btn{
    background-color: #173F5F;
    color:white;
    cursor: pointer;
}

.btn-container{
    display: flex;
    column-gap: 2rem;   
}

.badge {
    transform: translate(21%,240%);
    color:orange;
}