* {
  --hover-color:red;
  --background-color-one:white;
  --background-color-two:black;
  --border-color:gainsboro;
  --basic-color:orangered;

}

.upper-nav{
    background-color: var(--background-color-two);
    color:var(--background-color-one);
    height:1.5rem;
    display: flex;
    justify-content: flex-end;
    padding: 0.3rem 2rem;
    column-gap: 2rem;
  }
  
  .upper-nav a {
      color:var(--background-color-one);
  }
  
  .navigation-bar {
      flex-direction: column;
      background-color: var(--background-color-one);
      row-gap: 0.3rem;
  }
  
  .log-in :hover, .sign-up :hover {
      text-decoration: underline;
  }
  
  .wishlist :hover {
      color:var(--hover-color);
  }
  
  .main-nav{
      display: flex;
    justify-content: space-around;
      column-gap: 10rem;
      align-items: center;
      padding-right: 0.5rem;
  
  }
  
  .dropdown {
      display: flex;
      column-gap:3rem;
      padding:0.5rem;
      /*border:solid 1px var(--border-color);*/
      background-color: var(--background-color-one);
  }
  
  .dropdown-one,.dropdown-two, .dropdown-three, .dropdown-four, .dropdown-five, .dropdown-six, .dropdown-seven {
      position: relative;
  }
  
   input {
      width:30rem;
      padding:0.5rem;
  }
  
   button {
       border: none;
       background-color: var(--background-color-one);
       font-size: 1rem;
   }
  
  .logo {
      height:5rem;
      width:4rem;
  }
  
  .logo-container {
      display: flex;
      margin-left:1rem;
      font-weight: bolder;
      font-size: 1.5rem;
      text-decoration: line-through var(--background-color-one);
  }
  
  .dropdown-content-one,.dropdown-content-two, .dropdown-content-three, .dropdown-content-four, .dropdown-content-five,     .dropdown-content-six, .dropdown-content-seven {
      display: none;
      position: absolute;
      padding-top: 1rem;
      background-color: var(--background-color-one);
      box-shadow: 5px 5px 5px  var(--border-color), -5px -5px 5px  var(--border-color);
  }
  
  .dropdown-one:hover .dropdown-content-one   {
      display: block;
  }
  
  .dropdown-two:hover .dropdown-content-two{
      display: block;
  }
  
  .dropdown-three:hover .dropdown-content-three{
      display: block;
  }
  
  .dropdown-four:hover .dropdown-content-four{
      display: block;
  }
  
  .dropdown-five:hover .dropdown-content-five{
      display: block;
  }
  
  .dropdown-six:hover .dropdown-content-six{
      display: block;
  }
  
  .dropdown-seven:hover .dropdown-content-seven{
      display: block;
  }
  
  .dropdown-content-one a, .dropdown-content-two a,.dropdown-content-three a,.dropdown-content-four a,.dropdown-content-five a,.dropdown-content-six a,.dropdown-content-seven a  {
      color: var(--background-color-two);
      padding-top: 1rem;
     display:block;
  }
  
  .shopping-cart {
      height:3rem;
      width:4rem;
      display: flex;
  }
    
  .dot {
      height:1.5rem;
      width:1.5rem;
      border-radius: 50%;
      transform: translate(-960%,-100%);
      background-color: var(--basic-color);
      color: var(--background-color-one);
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  button[type="submit"] {
      transform: translate(1250%,-120%);
      cursor:pointer;
  }

  .footer{
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
  }

  .social-media {
      column-gap: 4rem;
  }

  .social-media-icon{
      height:3rem;
      width:3.5rem;
      display: flex;
  }
